/* 00 - CSS RESET & UTILITIES */
html{
       scroll-behavior: smooth;
}
body {
  height: 100vh;
  margin: 0;
}
h1{
    font-size: 320%;
    font-family: 'instrument Serif';
    /*src: url("C:\Windows\Fonts\instrumet serif") format('truetype');*/
    text-align: start;
    justify-content: center;
    margin: 10px;
    color: black;
}
.bx{
     display: flex;
     justify-content: center;
     align-items: center;
     width: 100%;
     height: 100%;
     min-height: 200px;
     background-color: rgb(91, 34, 34);  
    /* padding: 2%;*/
}
.bltxt {
     display: flex;
     align-items: start;
     justify-content: start;
     text-align: center;
     width: auto;   
     height: auto;
     font-size: 34px;
     margin: 10px;
     font-weight: bold;
     font-family: 'Arial Black', Gadget, sans-serif;
}
.bltxt a:link {
  color: rgb(0, 0, 0);
  background-color: transparent;
  text-decoration:none;
}
.bltxt a:visited {
  color: rgb(0, 0, 0);
  background-color: transparent;
  text-decoration: none;
}
.bltxt a:hover {
  color: rgb(0, 0, 0);
  background-color: transparent;
  text-decoration: none;
}
.bltxt a:active {
  color: rgb(0, 0, 0);
  background-color: transparent;
  text-decoration: none;
}

ul{
     background-color: #c2c2c2;
     padding: 10px;
     border-radius: 5%;
     display: flex;
     flex-direction: column;
     align-items:center;
     justify-content:space-between;
     height: auto;
     width: 100px;
}

a{
  background-color: transparent;
  text-decoration: none;
}
a:link {
  color: rgb(0, 0, 0);
}
a:visited {
  color: rgb(0, 0, 0);
}
a:hover {
  color: rgb(100, 100, 100);
}
a:active {
  color: rgb(255, 255, 255);
}

/* 
INDEX 
00 - CSS RESET & UTILITIES
01 - HEADER
02 - NAVBAR
03 - HERO SECTION
04 - MAIN 
05 - FOOTER
*/



/* 01 - HEADER */
/* 02 - NAVBAR */
nav {
     position: fixed;
     z-index: 400;
     height: 10%px;
     width: 100%;
     padding: 0px 10px;
     display: flex;
     align-items: center;
     background-color: rgb(255, 118, 118);
     color: #fff;
}

nav .logo {
     display: flex;
     align-items: start;
     width: 20px;
     height: 20px; 
     border-radius: 100%;
     background-color: rgb(0, 0, 0); 
}

nav .menu ul {
  display: flex;
  gap: 15px;
}

nav .menu ul li {
  /* rimetto i dots dai list-item */
  list-style:disc;
}

nav .menu ul li a {
  color: #0a0404;
}

nav .menu ul li a:hover {
  font-weight: bolder;
  color: #570404;
}
.menu{
    transform: translateX(-1000px);
     display: flex;
     flex-direction: column;
     justify-content: start;
     align-items: center;
     position: fixed;
     top: 0;
     left: 0;
     width: auto;
     height: 100vh;
     z-index: 200;
     background-color: rgb(255, 255, 255);
     border-bottom: 2px solid black;
     padding: 10px 0px 10px 0px;
     transition: all 0.4s ease;
}
.menu:hover{
    transform: translateX(0px);
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    position: fixed;
    z-index: 200;
    background-color: lightblue;
    transition: background-color 0.5s ease;
    transition: all 0.4s ease;
    height: 100vh;
    background-color: white;
    border: 2px solid black;
}
.logo:hover + .menu{
     transform: translateX(0px);
}
/* 03 - HERO SECTION */
.heros {
  height: calc(100vh - 80px);
  display: flex;
  background-image: url("assets/1.jpg");
  background-color: #870a0a;
  background-position: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0.9;
  padding: 5% 0% 0% 0%;
}
.title-container {
  margin-top: 20px;
  display: flex;
  gap: 10px;
}
/* 04 - MAIN */
main section {
  display: flex;
  padding: 40px 0px;
}

main section .txt-container,
main section .img-container { /*qua sia testo che immagine sono centrate*/
  width: 50%;
  padding: 0px 20px;
  display: flex;
  align-items: center;
  justify-content: center;    
}

main section .txt-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

main section .txt-container h2 {
  margin-bottom: 12px;
  font-size: xx-large;
}

main section .txt-container p {
font-size: xx-large;
}

main section .img-container img {
  width: 100%;
  height: 100%;
  max-width: 800px;
}

main .second {
  flex-direction: row-reverse;
  background-color: aliceblue;
}
main .second .img-container img {
 border-radius: 100%;
}

main .fourth {
  flex-direction: column;
  background-color: aliceblue;
}


/* 05 - FOOTER */
footer {
  background-color: rgb(0, 0, 0);
  color: #fff;
  text-align: center;
  padding: 50px 0px;
}

@media only screen and (max-width: 450px) {
  .bx {
    flex-direction: column;
  }
  main .second {
  flex-direction: column;
}

}
