html{
       scroll-behavior: smooth;
}
body {
  height: 100%;
  margin: 0;
}

.bltxt {
     background-color: aqua;
     display: flex;
     align-items: center;
     justify-content: center;
     height: auto;

}
.bltxt a:link {
  color: rgb(0, 0, 0);
  background-color: transparent;
  text-decoration:none;
}
.bltxt a:visited {
  color: rgb(0, 0, 0);
  background-color: transparent;
  text-decoration: none;
}
.bltxt a:hover {
  color: rgb(0, 0, 0);
  background-color: transparent;
  text-decoration: none;
}
.bltxt a:active {
  color: rgb(0, 0, 0);
  background-color: transparent;
  text-decoration: none;
}

ul{
     
     display: flex;
     align-items:center;
     justify-content:space-between;
     height: auto;
     margin-inline: 25%;
}
ul.nav2{
     position: sticky;
     top: 2%;
     z-index: 100;
     padding: 5px;
     background-color: #cae8ca;
     border: 2px solid #4CAF50;
}

a:link {
  color: rgb(0, 0, 0);
  background-color: transparent;
  text-decoration:none;
}
a:visited {
  color: rgb(0, 0, 0);
  background-color: transparent;
  text-decoration: none;
}
a:hover {
  color: rgb(100, 100, 100);
  background-color: transparent;
  text-decoration: none;
}
a:active {
  color: rgb(255, 255, 255);
  background-color: transparent;
  text-decoration: none;
}

li{
     list-style: none;

}
.slide{
     display: flex;
     align-items: center;
     justify-content: center;
     flex-direction: column;
     width: auto;
     height: auto;
     background-color: aqua;

}
.slide div{
       scroll-margin-top: 10vh;
     margin: 20px;
}
.box1{
   
     display: flex;
     align-items: center;
     justify-content: center;
     width: 1440px;
     height: 1024px;
     position: relative;
     /*width: 1440px;
     height: 1024px;*/
     background-color: white;
     border: 2px solid black;

}


div.box1 .grey_box{
     margin: 0px;
width: 316px;
height: 1024px;
background-color: grey;
position:absolute;
left: 0px;
}

div.box1 .yellow_circle{
     margin: 0px;
width: 536px;
height: 536px;
background-color: yellow;
border-radius: 50%;
position:absolute;
top: 414px;
left: 790px;
}

div.box1 .vector1{
     margin: 0px;
     position:absolute;
     left: 430px;
     top: 389px;
     fill: rgba(151, 41, 41, 1);
}

div.box1 .vector2{
     margin: 0px;
     position:absolute;
     left: 316px;
     top: 590px;
     fill: rgba(151, 41, 41, 1);
}

div.box1 .blackbox{
     margin: 0px;
     width: 13px;
     height: 237px;
     position:absolute;
     top: 51px;
     left: 351px;
     background-color: black;
}

div.box1 .cr{
  color: rgba(0, 0, 0, 1);
  font-family: 'instrument Serif';
  /*src: url("C:\Windows\Fonts\instrumet serif") format('truetype');*/
font-size: 128px;
font-style: normal;
font-weight: 400;
line-height: 100%; /* 128px */
letter-spacing: -1.408px;
display: flex;
width: 1041px;
height: 267px;
flex-direction: column;
justify-content: center;
position: absolute;
top: 36px;
left: 399px;
margin: 0px;
}

.box2{
     
     width: 1440px;
     height: 1024px;
     background-color: white;
     border: 2px solid black;
}
.box3{
     width: 1440px;
     height: 1024px;
     background-color: white;
     border: 2px solid black;
}
.box4{
     width: 1440px;
     height: 1024px;
     background-color: white;
     border: 2px solid black;
}
.box5{
     width: 1440px;
     height: 1024px;
     background-color: white;
     border: 2px solid black;
}

/*.slide a{
 /* opacity: 0;
 display: block;
 color: #0f172a;
}

.slide a:active {
  /*opacity: 1;
 background: #04AA6D;
  color: #fff;
}
.slide:hover {
  /*opacity: 1;
}
*/