
body{
 font-family: "Poppins", sans-serif;
}

a{
    color: unset;
}

.contenitore1{
    background-color: rgb(255, 172, 47);
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
.navbar{
    display: flex;
     align-items: center;
}
.logo{
    display: flex;
    align-items: center;
    width: 10%;
    height: 10%;
}


li{
    padding: 10%;
}

h1 {
    color: red;
    stroke: white;
}
div{
    margin: 2%;
}
.imgg{

    width: auto;
    height: auto;
    background-color: blue;
    border-radius: 10%;
    border: 5px solid rgb(177, 177, 177);
}
section{
    display: flex;
    align-content: center;
    width: 4000px;
    height: 4000px;
}

.imgg img{
    border-radius: 10% 10% 0% 0%;
    width: 50%;
    height: auto; 
}
.imgg h1, p{
    margin: 5%;
}
.carte{
display: grid;
grid-template-columns: 1fr 1fr;
background-color: #821717;
margin: auto;
width: auto;
height: auto;
}

.sezion1{
    color: aqua;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #821717;
    margin: auto;
    margin-bottom: 2%;
}

.div2{
    margin: auto;
    padding: 2%;
    border-radius: 30px;
    background-color: #0fab1f;
    display: flex;
    align-items: center;
    justify-content: center; 
    flex-direction: column;
}

.title1{
    color: rgb(255, 255, 255);
background-color: rgb(0, 0, 0);
display: flex;
justify-content: center;
width: 100%;
height: 50px;
padding: 2px;
margin: 1px;
}